.nav-name {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 30pt;
    height: 75x;
    width: 250px;
    text-align: center;

}
/* need to make name a box that is still inside the nav bar */
.bar {
    list-style: none;
    margin: 0;
    padding: 18px;
    overflow: hidden;
}
li {
    float: right;
}
li a {
    text-align: center;
    padding: 12px;
    color: #777777;
}
a {
    text-decoration: none;    
}

.nav-header {
    background: #ffffff;
    position: relative;
    left:15px;
    background-color: #ffffff;
    border: 30px;
    width: 100%;
}
.nav-menu {
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
}

.index-title {
    color: #4aaaa5;
    font-size: 36pt;
}
.bio {
    font-family: Arial, Helvetica, sans-serif;
    font: #777777;
    margin: 20px;

}
img {
    float: left;
    padding: 10px;
}

.intro {
    background-image: url("crossline-dots.png");
    background-color: red;
}

.info {
    background-color: white;
    margin: 200px;
    padding: 15px;
}

.port.whole {
    background-image:url("https://goo.gl/images/cW8rF3");
    background-color: red;
}

.port-page {
    margin: 200px;
    padding: 15px;
    background-color: white;

}
/*could not get the background to work on these pages */
.contact.page {
    background-image: url("https://goo.gl/images/cW8rF3");
    background-color: red;

}

.contact.box {
    margin: 200px;
    padding: 15px;
    background-color: white;
}
.contact {
    color: #4aaaa5;
    font-size: 36pt;

}

.interests { 
    width: 50%;
    text-align: center;
    margin-right: 1%;
    text-decoration: none;
}
.jojo {
    position: relative;
    text-align: center;
}
.centered {
background-color: #4aaaa5;
font: white;
font-family: Arial, Helvetica, sans-serif;
padding: 10px;
position: absolute;
text-align: center;
}
/* need to center images and make rows */
.port {
    color: #4aaaa5;
    font-size: 36pt;
}
.port-page {
    width: 600px;
    height: 960px;
    border: 10px;
}
.page1 {
    border: 5px #4aaaa5;
    position: fixed;
}
.footer {
    position: sticky;
    width: 100%;
    text-align: center;
    background-color: grey;

}