.index-title {
    color: #4aaaa5;
    font-size: 36pt;
}
.background {
    background-image: url("../images/bg.png");
    min-height: 95%;
    width: 100%;
    position: absolute;
}
.coolboox{
    text-align: center;
    position: absolute;
}
.centered{
    /* text-align: center;
    position: absolute; */
    padding: 0px, 0px, 140px, 0px;
}
.contact.box {
    margin: 200px;
    padding: 15px;
    background-color: white;
}
.contact {
    color: #4aaaa5;
    font-size: 36pt;

}
.interests { 
    width: 50%;
    text-align: center;
    margin-right: 1%;
    text-decoration: none;
}

.port {
    color: #4aaaa5;
    font-size: 36pt;
}
.page1 {
    border: 5px #4aaaa5;
    position: fixed;
}
@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }